{% extends 'user_frame.html' %}

{% block content %}


<html>
     <head>
        <meta charset="UTF-8">
        <title>Company</title>
    </head>
    <body>
     {% for message in get_flashed_messages() %}
        {{ message }}
     {% endfor %}
        <h1>Time Table</h1>

        <strong>Please update your company data whenever necessary. This are the basics for your optimized Scheduler.</strong>
     <p></p>

        <form action= '/company' method = 'POST' class='CompanyForm' LEFT='100'>
            {{ template_form.hidden_tag() }}
            <h2>Company Information</h2>
            <TABLE>
                <thead>
                    <TR>
                        <TH WIDTH='120' ALIGN="LEFT"></TH>
                        <TH WIDTH='70' ALIGN="LEFT"></TH>
                    </TR>
                </thead>
                <TBODY>
                    <TR>
                        <TD WIDTH='100' ALIGN="LEFT">
                            {{ template_form.company_name.label}}
                        </TD>
                        <TD WIDTH='70' ALIGN="LEFT">
                            {{ template_form.company_name(value=company_name) }}
                        </TD>
                    </TR>
                    <TR>
                        <TD WIDTH='100' ALIGN="LEFT">
                            {{ template_form.weekly_hours.label}}
                        </TD>
                        <TD WIDTH='70' ALIGN="LEFT">
                            {{ template_form.weekly_hours(value=weekly_hours) }}
                        </TD>
                    </TR>
                    <TR>
                        <TD WIDTH='100' ALIGN="LEFT">
                            {{ template_form.shift.label}}
                        </TD>
                        <TD WIDTH='70' ALIGN="LEFT">
                            {{ template_form.shift(value=shift) }}
                        </TD>
                    </TR>
                </TBODY>
            </TABLE>

            <br>

            <h2>Opening Hours</h2>
            <TABLE >
            <thead>
                <TR>
                    <TH WIDTH='100' ALIGN="LEFT">Weekday</TH>
                    <TH WIDTH='90' ALIGN="CENTER">Start Time</TH>
                    <TH WIDTH='90' ALIGN="CENTER">End Time</TH>
                </TR>
            </thead>
            <TBODY>
                <TR>
                    {% for i in range(day_num) %}
                    <TD>
                        {{ weekdays[i] }}
                    </TD>
                    {% for vari in range(2) %}
                    <TD ALIGN="CENTER">
                        {% set new_i = i + 1 %}
                        {% set time_value = new_i ~ '&' ~ vari %}
                        {% if time_value in temp_dict %}
                            <input type='time' name='day_{{ i }}_{{ vari }}' value='{{ temp_dict[time_value] }}' style='width: 70px'>
                        {% else %}
                            <input type='time' name='day_{{ i }}_{{ vari }}' value='00:00' style='width: 70px'>
                        {% endif %}
                    </TD>
                    {% endfor %}
                </TR>
                {% endfor %}
            </TBODY>

        </TABLE>
            <p>{{ template_form.update() }}</p>

            <p></p>
            <p></p>
            <p></p>
        </form>

    </body>

</html>
{% endblock content %}