<!DOCTYPE html>
<html lang="en">
<head BGCOLOR="#000080">
    <TABLE>
        <TR>
            <TD WIDTH="70" ALIGN="CENTER">
                <a href = "/">Home</a>
            </TD>
            <TD WIDTH="100" ALIGN="CENTER">
                <a href = "/registration">Registration</a>
            </TD>
            <TD WIDTH="70" ALIGN="CENTER">
                <a href = "/about">About Us</a>
            </TD>
        </TR>
    </TABLE>
    <a href = "/user" style="position:absolute; top:0px; right:60px">User Icon</a>
    <a href = "/login" style="position:absolute; top:0px; right:10px">Login</a>
</head>
{% block content %}

{% endblock %}
<TABLE style="position:absolute; bottom:30px">
        <TR>
            <TD WIDTH="200">
                <a href = "/terms">Terms and Conditions</a>
            </TD>
            <TD WIDTH="100">
                <a href = "/team">Team</a>
            </TD>
        </TR>
        <TR>
            <TD WIDTH="200">
                <a href = "/policy">Privacy Policy</a>
            </TD>
            <TD WIDTH="100">
                <a href = "/contact">Contact</a>
            </TD>
        </TR>
    </TABLE>