{% extends 'user_frame.html' %}

{% block content %}


<html>
     <head>
        <meta charset="UTF-8">
        <title>Planning</title>
    </head>
    <body>
        {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %}
        <h1>Time Table</h1>

         <p></p>
        <p>
            This week starts from: {{ monday }}
        </p>


        <form action= '/planning' method = 'POST' class='PlanningForm'>
            {{ template_form.hidden_tag() }}
            <input type='hidden' name='monday' value='{{ monday }}'>

            <a> {{ template_form.prev_week }} | {{ template_form.next_week }} </a>
            <p></p>
             <a>{{ template_form.template1() }}  |  {{ template_form.template2() }}  |  {{ template_form.template3() }}</a>
            <p></p>

            <TABLE>
            <thead>
                <TR>
                    <TH WIDTH='100' ALIGN="LEFT">Date</TH>
                    <TH WIDTH='90' ALIGN="CENTER">Start Time 1</TH>
                    <TH WIDTH='90' ALIGN="CENTER">End Time 1</TH>
                    <TH WIDTH='90' ALIGN="CENTER">Start Time 2</TH>
                    <TH WIDTH='90' ALIGN="CENTER">End Time 2</TH>
                    <TH WIDTH='90' ALIGN="CENTER">Start Time 3</TH>
                    <TH WIDTH='90' ALIGN="CENTER">End Time 3</TH>
                </TR>
            </thead>
            <TBODY>
                {% for i in range(day_num) %}
                <TR>
                    <TD>
                        {{ weekdays[i] }}
                    </TD>
                    {% for vari in range(6) %}
                    <TD ALIGN="CENTER">
                        {% set new_i = i + 1 %}
                        {% set time_value = new_i ~ '&' ~ vari %}
                        {% if time_value in temp_dict %}
                            <input type='time' name='day_{{ i }}_{{ vari }}' value='{{ temp_dict[time_value] }}' style='width: 70px'>
                        {% else %}
                            <input type='time' name='day_{{ i }}_{{ vari }}' value='00:00' style='width: 70px'>
                        {% endif %}
                    </TD>
                    {% endfor %}
                </TR>
                {% endfor %}
            </TBODY>

        </TABLE>
            <p>{{ template_form.submit() }}</p>
            <p>{{ template_form.template_name() }}{{ template_form.template() }}</p>

            <p></p>
            <p></p>
            <p></p>
        </form>

    </body>

</html>
{% endblock content %}