{% extends 'frame.html' %}

{% block content %}

<!DOCTYPE html>
<html>
     <head>
        <meta charset="UTF-8">
        <title>Forget Password</title>
    </head>
    <body>
     {% for message in get_flashed_messages() %}
        {{ message }}
     {% endfor %}
        <h1>Update</h1>
        <form action= '/login' method = 'POST' class='<UpdateForm'>
            {{ template_form.hidden_tag() }}
            <TABLE>
                <TR>
                    <TD WIDTH="150">
                        {{ template_form.password.label }}
                    </TD>
                    <TD WIDTH="300">
                        {{ template_form.password() }}
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH="150">
                        {{ template_form.password2.label }}
                    </TD>
                    <TD WIDTH="300">
                        {{ template_form.password2() }}
                    </TD>
                </TR>
            </TABLE>
            <p>
                {{ template_form.submit() }}
            </p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </form>

    </body>

</html>
{% endblock content %}