{% extends 'user_frame.html' %}

{% block content %}

<!DOCTYPE html>
<html>
     <head>
        <meta charset="UTF-8">
        <title>User Update</title>
    </head>
    <body>
     {% for message in get_flashed_messages() %}
        {{ message }}
     {% endfor %}
        <h1>Update</h1>
        <form action= '/update' method = 'POST' class='<UpdateForm'>
            {{ template_form.hidden_tag() }}
            <TABLE>
                <TR>
                    <TD WIDTH="150">
                        {{ template_form.first_name.label }}
                    </TD>
                    <TD WIDTH="300">
                        {{ template_form.first_name() }}
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH="150">
                        {{ template_form.last_name.label }}
                    </TD>
                    <TD WIDTH="300">
                        {{ template_form.last_name() }}
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH="150">
                        {{ template_form.employment_level.label }}
                    </TD>
                    <TD WIDTH="300">
                        {{ template_form.employment_level() }}
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH="150">
                        {{ template_form.company_name.label }}
                    </TD>
                    <TD WIDTH="300">
                        {{ template_form.company_name() }}
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH="150">
                        {{ template_form.department.label }}
                    </TD>
                    <TD WIDTH="300">
                        {{ template_form.department() }}
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH="150">
                        Access Level
                    </TD>
                    <TD WIDTH="300">
                        {{ template_form.access_level() }}
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH="150">
                        {{ template_form.email.label }}
                    </TD>
                    <TD WIDTH="300">
                        {{ template_form.email() }}
                    </TD>
                </TR>
            </TABLE>
            <p>
                {{ template_form.update() }}
            </p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </form>

    </body>

</html>
{% endblock content %}