<!DOCTYPE html>
<html lang="en">
<head BGCOLOR="#000080">
    <TABLE>
        <TR>
            <TD WIDTH="100" ALIGN="CENTER">
                <a href = "/user">Dashboard</a>
            </TD>
            <TD WIDTH="100" ALIGN="CENTER">
                <a href = "/planning">Planning</a>
            </TD>
            <TD WIDTH="70" ALIGN="CENTER">
                <a href = "/update">Personal Data</a>
            </TD>
            <TD WIDTH="70" ALIGN="CENTER">
                <a href = "/admin">Admin</a>
            </TD>
            <TD WIDTH="70" ALIGN="CENTER">
                <a href = "/dashboard">Dashboard</a>
            </TD>
            <TD WIDTH="70" ALIGN="CENTER">
                <a href = "/company">Company</a>
            </TD>
            <TD WIDTH="70" ALIGN="CENTER">
                <a href = "/invite">Invite</a>
            </TD>
        </TR>
    </TABLE>
    <a href = "/logout" style="position:absolute; top:0px; right:10px">Logout</a>
</head>
{% block content %}

{% endblock %}
