{% extends 'user_frame.html' %}

{% block content %}

<link href = "{{ url_for('static', filename='style.css') }}" rel = "stylesheet">

<!DOCTYPE html>
<html>
     <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
    </head>
    <body>
     {% for message in get_flashed_messages() %}
        {{ message }}
     {% endfor %}
     <h1>Welcome {{ account.first_name }}</h1>

     <p></p>
     <h2>Scheduled Availability</h2>
     <TABLE>
         <THEAD>
            <TR>
                <TH WIDTH="100" ALIGN="CENTER"><strong>Date</strong></TH>
                <TH WIDTH="100" ALIGN="CENTER"><strong>Day</strong></TH>
                <TH WIDTH="100" ALIGN="CENTER"><strong>Start Time</strong></TH>
                <TH WIDTH="100" ALIGN="CENTER"><strong>End Time</strong></TH>
                <TH WIDTH="100" ALIGN="CENTER"><strong>Start Time 2</strong></TH>
                <TH WIDTH="100" ALIGN="CENTER"><strong>End Time 2</strong></TH>
                <TH WIDTH="100" ALIGN="CENTER"><strong>Start Time 3</strong></TH>
                <TH WIDTH="100" ALIGN="CENTER"><strong>End Time 3</strong></TH>
            </TR>
         </THEAD>
         {% for i in available %}
         <TBODY>
            <TR>
                <TD WIDTH="100" ALIGN="CENTER">{{ i.date }}</TD>
                <TD WIDTH="100" ALIGN="CENTER">{{ i.weekday }}</TD>
                <TD WIDTH="100" ALIGN="CENTER">{{ i.start_time }}</TD>
                <TD WIDTH="100" ALIGN="CENTER">{{ i.end_time }}</TD>
                <TD WIDTH="100" ALIGN="CENTER">{{ i.start_time2 }}</TD>
                <TD WIDTH="100" ALIGN="CENTER">{{ i.end_time2 }}</TD>
                <TD WIDTH="100" ALIGN="CENTER">{{ i.start_time3 }}</TD>
                <TD WIDTH="100" ALIGN="CENTER">{{ i.end_time3 }}</TD>
                <TD WIDTH="100" ALIGN="CENTER"><a href="{{ url_for('delete_availability', id=i.id) }}">Delete</a></TD>
            </TR>
        </TBODY>
     {% endfor %}
     </TABLE>
     <p></p>
     <p></p>


    </body>

</html>

{% endblock content %}