{% extends 'frame.html' %}

{% block content %}

<link href = "{{ url_for('static', filename='style.css') }}" rel = "stylesheet">

<html lang="en">
    <head>
        <title>Home</title>
    </head>
    <body>
        <p></p>
        <h1> Welcome to your Teams Page</h1>
        <p>You'll find the exact shift plan on following plattform</p>
        <form action= '/' method = 'POST' class='<EmployeeForm'>
            {{ template_form.hidden_tag() }}
            <p>
                {{ template_form.remove.label }}
                {{ template_form.remove() }}
            </p>
            <p>
                {{ template_form.submit() }}
            </p>
        </form>
        <p></p>

    </body>
</html>
{% endblock content %}